<div class="text-center">
  <h1>Editing Post</h1>

  <%= render 'form', post: @post %>

  <%= link_to 'Show', @post, class: 'btn btn-success text-light mr-2' %>
  <%= link_to 'Back', posts_path, class: 'btn btn-primary text-light' %>
</div>
